# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so

# Compiled executables
user_app.out

# Kernel Module files
*.ko

# Temporary files
*.mod.c
*.mod
modules.order
Module.symvers
.tmp_versions/
*.tmp
*.cmd